table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
    overflow: hidden;
    border-radius: 1em
    
}
  
td, th {
    text-align: left;
    padding: 8px;
    background-color: #dddddd;
    font-weight: bold;
    padding: 10px;
    border: 2px solid rgb(204, 201, 201); 
    
 }
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.flex-container {
    display: flex;
    align-items: stretch;
  }
  
.flex-container > div {
    font-weight: bold;
    margin: 10px;
    text-align: left;
}

.flex-1 > div {
    flex-grow: 1
}

.flex-3 > div {
    flex-grow: 3
}

div.inline { float:left; }